<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Lab 4 Form</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Navbar</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="..">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-1/friends"> Lab 1 Friend List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-2">Lab 2 Letter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-3">Lab 3 Friend List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-4">Lab 4 Note</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-4/note-list">Lab 4 Note List</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="text-center">
    <h1>Fill the blank</h1>
    <form action ="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary" >
          Submit
      </button>
    </form>
    </div>
  </body>
</html>
